<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <link rel='stylesheet' href='./stylesheets/utilities.css' />

    <title>
        <%= title %>
    </title>
</head>

<body>
    <!-- NAVIGATION BAR -->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">CIU</h1>
            <nav>
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Lớp học</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#"></a>Liên hệ</li>
                    <li><a href="#">Về CIU</a></li>
                </ul>
            </nav>
        </div>
    </div>
